<% banner_img = "https://images.unsplash.com/photo-1535016120720-40c646be5580?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= banner_img %>);">
      <div class="container">
        <h1 class="text-white">My Super Watch List</h1>
        <p>Quick access to the movies you need to watch later... </p>
        <%= link_to new_list_path, class: "btn btn-flat" do %>
          Add a list
        <% end %>
      </div>
    </div>
</div>
<div class="container p-5">

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
      <div class="carousel-inner">
        <% @lists.each do |list| %>
            <div class="carousel-item active">
              <img src=<%= list.image %> class="d-block w-100" alt=<%= list.name %>>
              <%= link_to list_path(list) do %>
                <div class="carousel-caption d-none d-md-block">
                  <h5><%= list.name %></h5>
                  <p><%= list.movies.size %> movies</p>
                </div>
              <% end %>
            </div>
        <% end %>
      </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>


</div>
