<% if @list.photo.attached? %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key, crop: :fill %>');">
<% else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "light_bg.png" %>');">
<% end %>
  <div class="container d-flex justify-content-between pt-2 mt-2">
    <div>
      <h1><%= @list.name %></h1>
      <p>You have <%= @list.movies.size %>
        <% if @list.movies.size >=2 %>
        movies
        <% else %>
        movie
        <% end %>
      in this list.</p>
    </div>
    <div class="align-self-center">
        <button type="button" class="btn btn-flat" data-bs-toggle="modal" data-bs-target="#addMovie">
        <i class="fa-solid fa-plus" style="color: #35040b;"></i> Add a movie to this list
        </button>
    </div>
  </div>
</div>
<div class="container">
    <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.where(movie: movie, list_id: params[:id]).take %>
      <div class="card-product mt-3">
        <img src=<%= movie.poster_url %> />
        <div>
          <div class="card-product-infos">
            <h2><%= movie.title %><span class="fw-light"> - <%= movie.rating %> </span><i class="fa-solid fa-star" style="color: #35040b;"></i></h2>
            <p><%= movie.overview %></p>
          </div>
          <div class="d-flex justify-content-between card-product-infos">
            <div>
              <i class="fa-solid fa-quote-left" style="color: #35040b;"></i> <%= bookmark.comment %>
            </div>
            <div>
              <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="fa-regular fa-trash-can" style="color: #35040b;"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="addMovie" tabindex="-1" aria-labelledby="addMovie" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addMovieLabel">Add a list</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@list, @bookmark] do |f| %>
          <%= f.association :movie, collection: @movies %>
          <%= f.input :comment %>
          <%= f.button :submit, class: "btn btn-flat" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
